.signin--container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.forgot--password{
    margin-top:2vh;
    display:flex;
    justify-content: right;
    font-size:14px;
}

.signin--link{
    color:#4080ff;
}




.signin--logo{
    width:70vw;
    padding: 8vh 0px 8vh 0px;
}