@import "./Abstracts/variables";
@import "./Components/button";
@import "./Components/restroomcard";
@import "./Components/navbar";
@import "./Pages/home";
@import "./Components/input";
*{
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
