.button{
    background-color: #7F5F20;
    
    margin: auto;


    width: 80vw;
    height: 6vh;

    border-radius: 10px;

    display:flex;

    justify-content: center;
    align-items: center;

    margin-bottom:2vh;

    border: none;
}





.text {
    font-size: 18px;
    font-weight: 500;

    color: white;

    user-select: none;

    margin:auto;
}