.button{
    background-color: #7F5F20;
    margin: auto;
    width: 80vw;
    height: 6vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.button:hover{
    background-color: #a17d34;
}