.input-container{
     margin:auto;
}


.input{
     border:none;
     width: 80vw;
     height: 4vh;
     background-color: #ededed;

     border-radius: 10px;


}


.input-label{
     font-size:18px;
}
