.radio-container{
    display:flex;
    align-items: center;
    justify-content: left;

    margin: 2vh 1vh 2vh 1vh;


}






.radio-label{
    font-size:14px;
    
    user-select: none;

    margin-left:2vw;

    vertical-align: middle;
}
