.rate--stars--container{
    width:80vw;

    margin:2vh 0vh 2vh 0vh;
}

.rate--stars--rate input{
display:none
}

.rate--stars--rate label:before{
    color:'green';
    font-size:44px;
    background-color: red;
}


.rate--stars--rate label:after{
    color:'red'
}

.rate--stars--rate input:checked ~ label:after{
opacity:1;
}